@tailwind components;
@tailwind base;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

html {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

pre {
  white-space: pre-wrap;
}

code {
  width: 100%;
  overflow-wrap: break-word;
}

input {
  outline: none;
}

.article-item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.seo-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 메인페이지 최근게시글 텍스트 쉐도우 */
.text-shadow {
  color: white;
  text-shadow:
    3px 3px 20px #000000,
    -2px 1px 30px #000000;
}

/* 스크롤바 디자인 */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: darkgray;
}
